<div id="updown">
       <div id="upup" title=" "></div>
       <div id="downdown" title=" "></div>
</div>
<footer>
    <p><small>Copyright 2004 - {{site.time | date:"%Y"}} by <a href="{{ site.url }}">{{site.username}}</a> | <span class="label label-info">{{site.time | date:"%Y-%m-%d %H:%M:%S %Z"}}</span></small></p>
</footer>
<script src="{{ "/assets/js/jquery-3.1.1.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/bg.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/goto.js" | prepend: site.baseurl }}"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?952fb0d4f653d89fe36503a9bc951dd7";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>


